{% extends 'base.html' %}

{% block content %}
<h1>{{ ad.title }}</h1>
<p>{{ ad.description }}</p>
{% if ad.image_url %}
    <img src=" {{ ad.image_url.url }}" alt="{{ ad.title }}" style="max-width: 100%; height: auto;">
{% endif %}
<div style="display:flex; flex-direction:column">
    <span>
        <a href="{% url 'ads:edit_ad' ad.pk %}"><button type="submit">Редактировать</button></a>

    </span>
    <span>
        <a href="{% url 'ads:delete_ad' ad.pk %}"><button type="submit">Удалить</button></a>
    </span>
    <span>
        <a>Редактирование и удаление возможно только если вы автор объявления!</a>
    </span>
    <span>
        <a>Статусы блокирования: "Принято".</a>
    </span>

</div>
{% endblock %}